---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
// import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
// import pricing from "@data/pricing.json";
// import featureImage from "@images/features-image.avif";
import tools from "@images/automated-tools.jpg";
import tools from "@images/automated-tools.jpg";
import dashboard from "@images/dashboard-image.jpg";
import { partnersData } from "@/data_files/constants";


---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`<span
        class="text-yellow-500 dark:text-yellow-400">Industrial Power Solutions Technologies </span> Votre partenaire en solutions innovantes et performantes. `
    subTitle="Notre équipe d'experts en science des données se spécialise dans la création de solutions innovantes et personnalisées, conçues pour transformer vos données en leviers stratégiques. Nous vous accompagnons dans l'optimisation de vos performances, l'amélioration de votre prise de décision et l'innovation continue."
    primaryBtn="Nos Services"
    primaryBtnURL="/blog"
    secondaryBtn="Contactez-nous"
    secondaryBtnURL="/contact"
    
    src={heroImage}
    alt="IPS Tech"
  />

  <ClientsSection
    title="Nos clients"
    subTitle="Ils nous ont fait confiance."
    partners={partnersData}
  />
<FeaturesGeneral
    title="Notre approche technologique : étapes clés pour des solutions performantes"
    subTitle="Nous structurons chaque projet en quatre phases clés, garantissant une approche rigoureuse et efficace pour répondre aux défis technologiques et data-driven de nos clients."
    features={features}
  />

  <FeaturesNavs
    title=`Pourquoi choisir <span class="text-yellow-500 dark:text-yellow-400">IPS Technologies </span> pour la réalisation de vos projets ?.`
    tabs={[
      {
        heading: "Une approche personnalisée et des solutions sur mesure ",
        content:
          "Chaque projet data est unique et mérite une attention particulière. Nous analysons vos besoins, vos contraintes et vos objectifs afin de concevoir des solutions adaptées et évolutives, alliant Big Data, intelligence artificielle, automatisation et cybersécurité. Notre approche repose sur une écoute active et une collaboration étroite avec nos clients pour garantir des résultats optimaux.",
        svg: "dashboard",
        src: dashboard,
        alt: "visualisation",
        first: true,
      },
      {
        heading: "Un suivi rigoureux et une exécution maîtrisée",
        content:
          "Nous assurons un suivi strict à chaque étape, de la collecte et l’analyse des données à leur exploitation stratégique. Nos processus respectent des standards de qualité élevés, avec des contrôles rigoureux et des ajustements continus pour garantir la fiabilité, la sécurité et la conformité réglementaire. Cette rigueur assure un déploiement efficace et sécurisé de vos infrastructures data.",
        svg: "tools",
        src: tools,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Une équipe d’experts qualifiés, passionnés par l’innovation",
        content: "IPS Technologies s’appuie sur une équipe de spécialistes en data science, machine learning, IoT, cloud computing et cybersécurité. Nos ingénieurs, analystes et consultants sont animés par l’innovation et la recherche de solutions performantes et évolutives. Grâce à une veille technologique constante et des formations continues, nous intégrons les dernières avancées du secteur pour offrir des services à la pointe des technologies data.",
        svg: "tools",
        src: tools,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />
  
<TestimonialsSection
  title="Transformer l'avenir avec des solutions technologiques avancées"
  subTitle={[
    "Nous aidons les entreprises à exploiter leur potentiel grâce à des solutions innovantes en analyse de données, machine learning, cybersécurité, IoT et bien plus encore. Notre expertise en transformation numérique permet d’optimiser les infrastructures, sécuriser les systèmes et améliorer la prise de décision stratégique."
  ]}
  testimonials={[
      {
        content:
          "Nous transformons les défis technologiques en opportunités, en offrant des solutions innovantes qui stimulent la croissance de nos clients.",
        author: "TSOHO TCHINDA CYRILLE NOEL",
        role: "Directeur Général | Industrial Power Solutions.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "100+",
        description:
          "Projets Réalisés",
      },
      {
        count: "98%",
        description:
          "D'efficacité grâce à nos solutions",
      },
      {
        count: "97%",
        description:
          "Satisfaction Client",
      },
      {
        count: "2x",
        description:
          "Plus rapide dans les prises de décision avec nos outils d'analyse",
      },
    ]}
  />

  <FAQ title="Questions<br />fréquemment posées" faqs={faqs} />

  <HeroSectionAlt
    title="Shaping the Future with Data"
    subTitle="Exploiter la puissance des données pour innover, optimiser et anticiper les défis de demain."
   
  />
</MainLayout>